%p Players take it in turns to insert a coloured counter into a 7x7 grid. The object of the game is to get four counters in a line, vertically, horizontally or diagonally. The game ends when a player achieves this and that player is deemed the winner. If neither player gets four in a line by the time the grid gets filled up then the game is deemed to end in a draw.
%p To start a new game click the 'New Game' link in the menu near the top right of the screen. To view this help page click the 'Help' link.
