/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
html {
  background: #000 url('micro_carbon.png') repeat;
}

body {
  margin: 0px;
  font-family: Calibri, Arial;
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  height: 60px;
  background: #333 none no-repeat scroll;
  width: 100%;
  z-index: 4;
  font: 100% Arial;
  border-bottom: 3px solid #666;
}

.headerPanel {
  max-width: 900px;
  margin: 0px auto;
}

ul.menu {
  float: right;
  line-height: 50px;
  vertical-align: bottom;
}

ul.menu li {
  list-style: none;
  float: left;
  padding-left: 10px;
}

ul.menu li a {
  color: #eee;
  text-decoration: none;
}

ul.menu li a:hover {
  text-decoration: underline;
}

.headerTitle {
  line-height: 48px;
  font-size: 250%;
  vertical-align: top;
  color: #eee;
  margin: 5px 0px;
}

.header img {
  margin: 5px 15px;
}

.messagePanel {
  position: fixed;
  text-align: center;
  width: 100%;
  font: 150% Arial;
  top: 60px;
  height: 40px;
  color: #eee;
  padding: 8px 0px;
}

.document {
  max-width: 900px;
  margin: 110px auto;
  color: #eee;
}

#canvasContainer {
  position: relative;
  max-width: 550px;
  min-height: 550px;
  /* height: auto;*/
  margin: 0px auto;
  padding: 5px;
  -moz-box-shadow: 0 0 5px 5px #444;
  -webkit-box-shadow: 0 0 5px 5px #444;
  box-shadow: 0 0 5px 5px #444;
}

#homePanel {
  position: relative;
  max-width: 550px;
  margin: 0px auto 0px;
  padding: 5px;
  font-size: 150%;
  text-align: center;
}

#homePanel input {
  font-size: 250%;
}

.clear {
  float: clear;
}

#canvasOverlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

