/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  margin: 0px;
  font-family: Calibri, Arial;
  background-color: #e8e8e8;
}

#container {
  max-width: 960px;
  /* height: auto;*/
  margin: 0px auto 0px;
  background-color: #fff;
  padding: 5px;
  -moz-box-shadow: 0 0 5px 5px #AAA;
  -webkit-box-shadow: 0 0 5px 5px #AAA;
  box-shadow: 0 0 5px 5px #AAA;
}

#canvasContainer {
  position: relative;
  max-width: 550px;
  min-height: 550px;
  /* height: auto;*/
  margin: 0px auto 0px;
  background-color: #fff;
  padding: 5px;
  -moz-box-shadow: 0 0 5px 5px #AAA;
  -webkit-box-shadow: 0 0 5px 5px #AAA;
  box-shadow: 0 0 5px 5px #AAA;
}

.clear {
  float: clear;
}

#canvasOverlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

